@model List<WorldCup2018.Models.Ranking>
@{
    ViewBag.Title = "Ranking";
}
<br />
<label style="color:mediumvioletred;font-size:larger">Ranking</label>
<br />
<div class="row alert-success">
    <div style="padding-left:5px;" class="col-xs-1">
        Rank
    </div>
    <div class="col-xs-2">
        First Name
    </div>
    <div class="col-xs-3">
        Last Name
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        7 Pts
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        5 Pts
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        3 Pts
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        1 Pts
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        P.K
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        Total Pts
    </div>
</div>
@{int counter = 0; }
@foreach (var item in Model)
{
    counter++;
<div class="row">
    <div class="col-xs-1">
        <label>@counter</label> 
    </div>
    <div class="col-xs-2" style="padding-left:1px">
        @item.FirstName
    </div>
    <div class="col-xs-3">
        @item.LastName
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.SevenPoints
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.FivePoints
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.ThreePoints
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.OnePoints
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.Win
    </div>
    <div class="col-xs-1" style="padding-left:1px">
        @item.Score
    </div>
</div>
}